[core]
  editor = nvim
  pager = delta
[user]
	email = seirios0107@gmail.com
  name = nellag
[alias]
  root = rev-parse --show-toplevel
  st = status
  cm = commit
  log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[interactive]
  diffFilter = delta --color-only
[delta]
  # delta --show=config
  minus-style = normal "#610b02"
  plus-style = normal "#013982"
  plus-emph-style = syntax "#075ff7"
  plus-empty-line-marker-style = normal "#013982"
  line-numbers-plus-style = normal "#075ff7"
  line-numbers = true
  side-by-side = false
  syntax-theme = DarkNeon
